<div class="" style="height: 100%;padding: 0 20px;" data-ng-controller="ChatController as chat" data-ng-init="initApp()">
    <nav class="row" style="height: 50px;" data-ng-controller="headerCtrl as header">
        <button class="btn btn-primary" ng-click="header.logout()">Logout</button>
    </nav>

    <div class="row" style="height: 100%;">
        <div class="col-md-9 col-md-push-3" style="height: 100%;background-color: #217D99">
            <div ui-view style=" height: 100%;"></div>
        </div>
        <div class="col-md-3 col-md-pull-9" style="height: 100%; background-color: #00d4b4;">
            <div style="margin: 10px 0;">
                <form data-ng-submit="chat.addRoom()">
                    <div class="input-group">
                        <input type="text" class="form-control" data-ng-model="chat.name" placeholder="Create room">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Go!</button>
                        </span>
                    </div><!-- /input-group -->
                </form>
            </div>
            <div>
                <ul class="list-group">
                    <li class="list-group-item {{chat.current_room == room.uniq ? 'active' : ''}}" ng-repeat="room in chat.rooms">
                        <a href="" data-identity="{{room.uniq}}" ng-click="chat.chooseRoom($event)" style="display: block;">
                            {{ room.title }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--{{chat.current_room == room.uniq ? 'active' : ''}}-->